<template>
  <!-- projects  switch to project.html -->
  <div class="row">
      <div repeat.for="project of projects">
        <div class="col-md-3 projectcontainer">
          <div class="projecttag">
            <h4 class="text-center">${project.projectName}</h4>
            <h5 class="text-center">${project.projectCompletion}</h5>
          </div>
          <a href.bind="project.projectUrl"  target="_blank" >
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300"  alt="movers"></a>
          </div>
      </div>
    </div>
</template>
